html {
	font-size: 62.5%;
	overflow-x: hidden;
}

nav {
	background-color: #c9c19f;
	margin: 20px;
}

main {
	background-color: #caffb9;
	margin: 20px;
}

a {
	text-decoration: none;

	font-size: 1.8rem;
	color: #333232;
}
address {
	font: size 1.8rem;
}
li {
	list-style: none;
	font-size: 1.2rem;
	margin-left: 66px;
	color: #66a182;
	margin-top: 10px;
}
ul {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

h1 {
	font-size: 3.0rem;
	color: #66a182;
}
h2 {
	margin-top: 12px;
	font-size: 2.5rem;
	color: #333232;
	text-align: center;
}
#about,
p {
	font-size: 1.4rem;
}

#skills {
	font-size: 2.5rem;
	max-width: 100%;

	margin-left: 400px;
}
.logo {
	width: 120px;
	height: 120px;
	border: 1px solid #999;
}

footer {
	max-width: 100%;
	background: #c9c19f;
	color: #333232;
}
footer p {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 10px;
}

#contact {
	margin-right: auto;
	margin-left: auto;
}
#contact a {
	margin-bottom: 75px;
	color: #333232;
}
#contact p {
	font-size: 1.4rem;
}
.reactp {
	width: 300px;

	margin-top: 20px;
	opacity: 0.9;
}
.firstp {
	width: 300px;
	margin-top: 20px;
}
.firstp1 {
	width: 300px;
	margin-top: 60px;
	margin-bottom: 42px;
}
section {
	background-color: #c9c19f;
	text-align: center;
}
section button {
	background-color: #7d7c7a;
}
.card {
	background-color: #66a182;
	padding: 5px;
	text-align: center;
	margin: 10px;
}
img {
	margin-left: auto;
	margin-right: auto;
}
button {
	font-size: 1.8rem;
}
