html {
	font-size: 62.5%;
	overflow-x: hidden;
	max-width: 100%;
	height: 100vh;
}
nav {
	background-color: black;
	color: white;
	margin-left: auto;
	height: 160px;
	max-width: 100%;
	text-align: center;
	margin-right: auto;
}
.pic {
	margin-bottom: 20px;
	background-color: black;
	width: 300px;
	margin-left: 100px;
	margin-top: 10px;
}

.w3-card-4 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #999;
}
a {
	text-decoration: none;
	margin-top: 40px;
	font-size: 2.5rem;

	margin-left: 40px;
	display: flex;
	max-width: 100%;
}
address {
	font: size 1.8rem;
}
li {
	list-style: none;
	font-size: 16px;
	margin: 10px;
}
ul {
	display: flex;
	max-width: 100%;
	padding: 15px;
}
.social-container {
	display: flex;
	margin: 36px 80px;
}

h1,
h2 {
	font-size: 3.5rem;
	color: rgb(86, 93, 100);
	text-align: center;
}
Header,
.Header-item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.Header {
	z-index: 32;
	padding: 16px;
	font-size: 14px;
	line-height: 1.5;
	color: hsla(0, 0%, 100%, .7);
	background-color: #142739;
}
/* .box {
	height: 100vh;
	width: 800px;
} */

/* .box1 p {
	display: inline-block;
	padding: 5px;
	font-size: 2rem;
	text-align: center;
	height: 50vh;
	margin-top: 45px;
}
.box1 a {
	color: grey;

	padding: 5px;
	margin: 5px;
} */
#portfolio {
	margin-left: -20px;
	flex-wrap: wrap;
	font-size: 2.5rem;
}
#portfolio img {
	width: 550px;
	border: 1px solid#999;
}
#about {
	font-size: 2.0rem;
}
#skills-container {
	font-size: 2.5rem;
	max-width: 100%;
	display: flex;
}
#skills li {
	/* display: flex; */

	list-style: circle;
	font-size: 2.1rem;
	max-width: 100%;
}

footer {
	width: 100%;
	background: black;
	color: white;
	height: 140px;
}
.social {
	font-size: 30px;
	margin-left: 20px;
}
.social a {
	color: white;
	margin-top: 10px;
}
footer p {
	text-align: center;
	font-size: 16px;
}
.logo {
	width: 200px;
	height: 200px;
	border: 1px solid #999;
	display: flex;
	flex-direction: column;
}
#contact {
	display: table;
	border: 1px solid #999;
	height: 342px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}
#contact a {
	margin-bottom: 45px;
	color: black;
}
